<style type="text/css">
        .Company-logo {
            table-layout: fixed; 
            min-width: 220px; 
            max-height: 140px; 
            padding-right: 0; 
            margin-left: 0; 
            max-width: 300px;
        }
        #headerTopRow {
            width: 100%; 
            padding-top: 0; 
            vertical-align: top; 
            white-space: nowrap;
        }
        #Td2 {
            min-width:750px; 
            width:100%; 
            padding-top: 0; 
            vertical-align: top; 
            white-space: nowrap;
            background: black;
        }
        #Td6 {
            padding-bottom: 0.5em; 
            vertical-align: bottom;
        }
        #appSuiteCell {
            min-width:520px; 
            vertical-align:bottom; 
            padding-bottom: 0; 
        }
        .k-link:link, .k-link:visited, .k-nav-current.k-hover .k-link {
            color: #333 !important;
        }
       
    </style>
    
    <style type="text/css">

        /* App Suite Layout CSS */
        #appNav li:not(.k-item) {
            border-color: black;
            border-left-width: 0;
            border-right: 1px solid black;
            display: block;
            float: left;
            height: 30px;
            line-height: 30px;
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
            max-width: 100px;
            white-space: nowrap;
            text-overflow: ellipsis;   
        }

        #appNav li {
            position: relative;
        }

        #appNav li a, #appNav li:not(.k-item) a
        {
            /* padding: 0 0 0 0; */
            min-width: 225px;
            max-width: 225px;    
            overflow: hidden;
            text-overflow: ellipsis;
            background-color: transparent;    
        }


        #appNavLdiv #appNav li a.tab, #appNavLdiv #appNav li a.tab-active {
            display: inline-block;
            max-width: 100px;
            min-width: 0;
            padding: 0;
        }

        #appNav #TopRightMenu {
            padding-left: 0;
            padding-right: 0;
            width: 66px;
        }

        #appNav #appSelector {
            display: inline;
            font-size: 100%;
        }

        #appNav .k-animation-container {
            margin-top: 0;
        }

        #appNav .k-animation-container .k-group {
            /*width: 225px;*/
            left: 11px;
        }

        #appNav .k-link {
            margin-left: 10px;
            margin-right: 10px;
            width: 0;
        }

        #appNav #appSelector .k-group .k-link, #appNav #appSelector .k-group .k-link:hover
        {
            color: #656565;
            margin-left: 0;
            margin-right: 0;
            padding: 0px 20px 10px 10px !important;
            width: 190px;
            height: 20px;
        }

        #appNav #appSelector .k-group .k-link:hover
        {
            color: #3f8ac4;
            background-color:#EAEAEA; /*#f0f0f0;*/    
        }

        #appNav, #appNav .tab
        { 
            background-color: transparent;
            color:#8c8c8c;                                                  /*@headerTopBar-textColor*/ 
        }

        #appNav .tab-active, #appNav .tab:hover
        { 
            background-color: transparent;
            color:#ffffff;                                                  /*@headerTopBar-active-textColor*/
            font-weight: normal;
        }

        #header-wrapper #appNav .tab-active + .arrow.bottom, #header-wrapper #appNav .tab:hover + .arrow.bottom
        {
            display: none;
        }

        #header-wrapper #appNav .arrow.bottom, #header-wrapper li.expanded > .arrow 
        {
            border-top-color: black;            /*@headerTopBar-bgColor*/
            margin-top: 7px;
            top: 26px;    
        }

        /* Top Right Menu Layout CSS */
        #topNav, #topNav .tab
        {
            border-style:none;
            background-color: transparent;      /*@topMenu-bgColor: transparent*/
            color:#8c8c8c;                      /*@main-textColor: #ffffff*/
        }

        #topNav .k-menu .k-item {
            display: block !important;
        }

        #OrgMenu 
        {
            margin: 0 5px; 
        }

        #OrgMenu .k-menu .k-arrow-down {
            margin-right: 0;
        }

        #topNav .tab-active, #topNav .tab:hover:not(ul)
        {
            border-style:none;
            background-color: transparent;      /*@topMenu-bgColor: transparent*/
            color: #d1dce5;
        } 

        #topNav ul.tab:hover {
            background:none;
        }

        #topNav #OrganizationSelector span, #topNav #OptionsSelector span {
            color: #CCCCCC/*#b3b3b3*/;
            font-size: 13px;
        }

        #topNav #OrganizationSelector span.k-hover, #topNav #OptionsSelector span.k-hover {
            background-color: transparent;
            color: #ffffff;
        }

        #topNav #OrganizationSelector a.k-hover, #topNav #OptionsSelector a.k-hover {
            background-color: #EAEAEA;
            color: #3f8ac4;
        }

        #topNav #OrganizationSelector a, #topNav #OptionsSelector a {
            background-color: transparent;
            color: #656565; /*#8c8c8c;*/
            font-size: 13px;
        }

        #topNav #OptionsSelector a 
        {
            font-size: 11.7px;
        }


        #topNav #OrganizationSelector span, #topNav #LanguageOptionsSelector span {
            color: #CCCCCC/*#b3b3b3*/;
            font-size: 13px;
        }

        #topNav #OrganizationSelector span.k-hover, #topNav #LanguageOptionsSelector span.k-hover {
            background-color: #EAEAEA;
            color: #ffffff;
        }

        #topNav #OrganizationSelector a.k-hover, #topNav #LanguageOptionsSelector a.k-hover {
            background-color: #EAEAEA;
            color: #3f8ac4;
        }

        #topNav #OrganizationSelector a, #topNav #LanguageOptionsSelector a {
            background-color: transparent;
            color: #656565; /*#8c8c8c;*/
            font-size: 13px;
        }

        #topNav #LanguageOptionsSelector a 
        {
            font-size: 11.7px;
        }

        /* App Suite Objects Layout CSS */
        #appsuite-nav .tab, #appNav .tab
        {
            background-color: transparent;      /*@mainTabs-bgColor: #242c32 (black)*/
            color: #8c8c8c;                     /*@mainTabs-textColor: #dbdbdb (lightgrey)*/
        }

        #headerTopRow #appsuite-nav .tab, #appNav .tab
        {
            background-color: transparent;      /*@mainTabs-bgColor: #242c32 (black)*/
            color: #CCCCCC;                     /*@mainTabs-textColor: #dbdbdb (lightgrey)*/
        }

        #appsuite-nav .tab-active, #appsuite-nav .tab:hover
        {    
            background-color: transparent;      /*@main-color: #3678af (blue)*/    
            color:#1d1d1d;                      /*@main-textColor: #ffffff*/
            font-weight: normal; 
        }


        #header-wrapper #appsuite-nav .arrow.bottom
        {    
            bottom: 0px;
            display: none;
            position: absolute;    
            left: 50%;
            margin-left: -5px;
        }

        #header-wrapper #appsuite-nav .arrow.bottom, #header-wrapper li.expanded > .arrow {
            border-top-color: transparent;
        }

        #header-wrapper #appsuite-nav .tab-active > .arrow.bottom, #header-wrapper #appsuite-nav .tab:hover > .arrow.bottom {
            display: block;
        }

        #appsuite-nav li {
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
        }

        #header-wrapper #appsuite-nav .arrow.bottom {
            border-bottom-color: #8c8c8c; /*@headerTopBar-textColor:grey*/
        }

        #appsuite-nav #ObjectSelector > li > .k-hover {
            color: #1d1d1d; /*@headerTopBar-bgColor: black*/
        }

        #appsuite-nav #ObjectSelector .k-group .k-link, #appsuite-nav #ObjectSelector .k-group .k-link:hover {
            color: #656565;
            background-color: #ffffff;
            min-width: 130px;
            max-width: 130px;
            width: 120px !important; /*width: 100px;*/
            border-color: #d3d3d3;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: -10px;
            padding-right: 15px;
        }

        #appsuite-nav #ObjectSelector .k-group .k-link:hover
        {
            color: #3f8ac4;
            background-color: #EAEAEA;
        }

        #appsuite-nav #ObjectSelector .k-group /*, #appsuite-nav #ObjectSelector .t-group:hover*/ {
            display: none;
            width: 130px!important;
            top: 6px;
            left: 18px;
            padding-right: 16px;
        }

        /* Header Layout */
        #headerTopRow{/*background:url(//apps.perfectmind.com/content/images/Site/header-topnav-bg-rpt.jpg)  top left repeat-x !important;
                      border-bottom:3px solid #9a9c9e; height:32px !important;*/ font-size:13px;font-weight:bold;background-color: black;}
        /*#appsuite-nav .arrow.bottom{bottom:-15px !important;}*/
        /*#appSuiteCell{width:995px !important;}*/
        /*#header-table #appSuiteContainer{width: 995px !important;}*/
        .Company-logo{padding:10px 0px;}
        #header-wrapper, #headerTopRow{border-bottom:1px solid #b9b9b9;}
        #appNav li{height:30px !important;line-height:30px !important;}
        #headerTopRow #appNav #appSelector .k-link { font-size: 100% !important;}
        #headerTopRow #appNav .k-link { font-weight:bold; color:#CCCCCC;}
        #appNav .k-link { font-weight:bold; color: #8c8c8c;}
        #appNav .tab-active, #appNav .tab:hover, #appNav .k-link:hover{font-weight:bold;color: #ffffff;}

        /* Left Side Panel Layout CSS */
        .layout-leftpanel-main .left-panel table tbody #relatedObjects{}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem{font-size:12px;font-weight:bold;margin-right:10px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a{ background-color: #ebebeb;color:#8c8c8c;padding-right:12px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a:hover{background-color:#edf4fa/*#4e92c8*/;color:#333/*#fff*/;padding-right:12px;}

        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem img{display:none;}

        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a div{display:block !important;float:left;width:120px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a span{display:block;float:right;width:40px;text-align:right;font-weight:bold;font-size:15px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a:hover span{color:#333/*#fff*/ !important;}

        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected{font-size:12px;font-weight:bold;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected a{background-color:#edf4fa/*#4e92c8*/; color:#333/*#fff*/; background-image:url(//apps.perfectmind.com/content/images/Site/sidebar-arrow.gif); background-repeat:no-repeat; background-position:top right;padding-right:22px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected a:hover{background-color: #edf4fa/*#4e92c8*/;color:#333/*#fff*/; background-image:url(//apps.perfectmind.com/content/images/Site/sidebar-arrow.gif); background-repeat:no-repeat; background-position:top right;padding-right:22px;}

        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected img{display:none;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected a div{display:block !important;float:left;width:120px;padding-left: 8px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected a span{padding-right: 4px; color:#333/*#fff*/ !important;display:block;float:right;width:40px;text-align:right;font-weight:bold;font-size:15px;}
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected a:hover span{color:#333/*#fff*/ !important;}

        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a, #relatedObjects .relatedObjectListItemSelected a {border-radius: 3px 3px 3px 3px;}
        .layout-leftpanel-main .left-panel table tbody #primaryObjectItem .box-tab-caption-active, #primaryObjectItem .box-tab-caption {border-radius: 3px 0 0 3px;}

        .layout-leftpanel-main #currentViewPopup tr td div.tab-active { background-color: #edf4fa; color: #333;}
        .layout-leftpanel-main #currentViewPopup tr td div.tab { background-color: #ebebeb; color: #8c8c8c;}

        /* Layout changes */
        .viewDropdownItem{padding-left:0px !important;}
        #currentViewPopup .tab{padding-left:11px !important;border-radius:0px;}
        #currentViewPopup .tab-active{padding-left:11px !important;border-radius:0px;}
        .Company-logo{margin-left: 34px !important;}
        #header-table td{padding:0px !important;}
        #globalSearchCell{padding-right:0px !important;}
        #globalSearchCell img{margin-right:26px;margin-bottom:10px;}
        #headerTopRow > div{margin-left:34px !important;margin-right:24px !important;}
        #system-buttons-container button, #system-buttons-container .pm-button{border:none !important;	background-color:#fff !important; }
        #topNav {padding:0px !important;}
        #topNav #Options-Setup{padding-right:0px !important;}

        #appNav .first{padding-left:0px !important;}
        #appNav .first a{padding-left:0px !important;}
        #newObject.button, #multipleDeleteButton.button{border: none !important;width: 75px;}

        #header-table #appSuiteContainer {
            bottom: 0;
            left: 0;
            width: 605px;
        }
        /*#header-wrapper, #headerTopRow {border-bottom: 1px solid #8c8c8c !important;}*/
        #appsuite-nav #object-tab-more{padding:0px !important;}
        /*#headerTopRow {background-color: #000 !important;} makes the line under the header */
        #headerTopRow {border:none;}
        #appsuite-nav li{padding-bottom:5px;}
        #button-view-find-container{margin-right:2px !important;position: relative;}
        #appsuite-nav #ObjectSelector .k-group .k-link, #appsuite-nav #ObjectSelector .k-group .k-link:hover {min-width:128px !important;}
        .hideShowGlobalSearchTable {right: 20px !important;}
        .contact-subsection-header h3.box-splitter{background-color:#f5f5f5 !important;color:#050505;}

        /* Left Panel changes */
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItemSelected a {
            background-color: none !important;
            background-image: none !important;
            background-position: none !important;
            background-repeat: no-repeat !important;
            color: none !important;
            /* padding-right: 22px !important; */
        }

        .clearme{height:0px !important;clear:both;font-size:0px;display:block;} 

        /* -----  remove the gray from teh menu ----------  */
        .layout-leftpanel-main .left-panel table tbody #relatedObjects .relatedObjectListItem a {
            background-color: #FFFFFF;
        }

        /* -----  Menu left hand side office profile ------  */
        .box-tab-caption-active{
            border-radius: 0px 0px 0px 0px !important;
        }
        .box-tab-caption{
            border-radius: 0px 0px 0px 0px !important;
        }
        #DetailPage_leftside_table li{
            padding-right:0px !important;
            margin-right: 0px !important;
        }
        #DetailPage_leftside_table a{
            padding-right:0px !important;
            margin-right: 0px !important;
            border-radius: 0px 0px 0px 0px !important;
        }
        #DetailPage_leftside_table a span{
            padding-right:10px !important;
        }
        #relatedObjects li{
            padding-right:0px !important;
            margin-right: 0px !important;
        }
        #relatedObjects a{
            padding-right:0px !important;
            margin-right: 0px !important;
            border-radius: 0px 0px 0px 0px !important;
        }
        #relatedObjects .tab-active a{
            padding-left:0px !important;
        }
        #relatedObjects .tab-active  div{
            padding-left:0px !important;
        }
        #relatedObjects a span{
            padding-right:10px !important;
        }

        /* ----- drop down menu fix ------  */
        #tblCurrentViewPopup  .viewDropdownItemEdit {
            width: 1px !important;
        }
        #tblCurrentViewPopup div{
            padding-left:10px !important;  
        }
        #currentViewPopup table {
            min-width:156px !important;
            overflow:hidden;
        }
        .t-widget.t-grid .t-header{
            border-bottom:1px solid #cccccc !important;
            border-top:1px solid #cccccc !important;
        }
        .t-widget.t-grid .t-header:first-child {
            border-radius: 0px 0px 0px 0px !important;
        }

        /* ---------------------------------------------Other css*/

        .objectPageLayoutSection {
            margin-top: 20px;
        }
        .box-tab-caption{background-color:#95b3cc;color:#242c32} 
        .box-tab-caption-active{background-color:#3678af}
        #primaryObjectItem .box-tab-caption-active {
            background-color: #edf4fa;
        }

        /* View Left side and drop Down */
        .viewDropdownItem .tab-active table  tbody tr td:first-child {
            color: black;
        }

        /* Settings */
        .tab-active a, .tab a{
            color: black;
        }
        .tab a {
            color: black /*!important*/;
        }

        /*Views Left Panel*/
        .layout-leftpanel-main #currentViewPopup tr td div.tab {
            background-color: #FFFFFF !important;
        }
        #frmCurrentRecord2  #currentViewPopup tr td div.tab {
            background-color: #FFFFFF !important;
        }	
        .no-right-border-radius, .layout-leftpanel-main .tab-active, .left-panel .box-tab-caption, .left-panel .box-tab-caption-active, .left-side-label {
            border-radius: 0px 0px 0px 0px;
        }
        .medium-border-radius, .tab, .tab-active, #topNav, #viewId, .search-box, .t-widget.t-grid .t-grid-header, .t-widget.t-grid .t-grid-footer, .t-widget.t-grid .t-grid-header th:first-child, .t-widget.t-grid .t-grid-bottom {
            border-radius: 0px 0px 0px 0px;
        }
        .box-tab-caption:hover a {
            color: black;
        }
        .box-tab-caption {
            background-color: transparent;
        }
        .t-widget.t-grid th.t-header {
            /*height: 25px;*/
        }
        .t-widget.t-grid .t-header span, .t-widget.t-grid .t-header a {
            color: black;
        }

        /*Views Left Panel*/
        #frmCurrentRecord2 #currentViewPopup {
            font-size: 0.8em;
        }

        #setupView #setup-object .box-splitter { display: none; height: 25px;}
        #setupView #setup-object .subsection-content {padding-top: 0px; margin-top: 10px;}

        #divDocumentFolders .tab-active, .left-panel .tab-active, .left-panel .tab-active a {
            color: #333333;
            background-color: #EDF4FA; 
        }

        #divDocumentFolders .tab, .left-panel .tab, .left-panel .tab a {
            color: #8C8C8C;
            background-color: transparent;
        }

        #divDocumentFolders .tab:hover, .left-panel .tab:hover, .left-panel .tab a:hover {
            opacity: 1.0 !important;
        }

        #header-wrapper {  width:100%; }
        #footer-wrapper {  min-width:970px; position: relative; bottom: 0px;}

        .header-for-member #topNav #Options-Setup {
            margin-top: 0;
        }
        .header-top-row .header-for-member #topNav #Options-Setup {
            margin-top: -10px;
        }

        .body:not(.newKendoMenu) #topNav {
            min-height: 55px;
        }

    </style>
